header, footer{
    position: relative;
    width: 375px;
    align-content: center;
}
header>img{
    position: relative;
    left: 26px;
    top: 0;
}
header>h1{
    position: relative;
    left: 127px;
    top: 280px;
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 655px;
}
.slogan>h2{
    margin-top: 139px;
    width: 80%;
    color: #00315F;
}
main{
    padding-left: 26px;
    width: 325px;
    align-content: center;
    padding-right: 26px;
    background-color: #00315F;
}
.tweet{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tweet .titre{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tweet h3{
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
}
.tweet img{
    align-items: end;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.26) ;
}
.tweet p{
    margin-top: 15px;
}
.cta-decouvrir-article{
    margin-top: 20px;
    margin-bottom: 100px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    width: 235px;
    height: 50px;
    border-radius: 26px;
    background: linear-gradient(0.25turn, #CB311C, #7F3135);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.26) ;
}
.cta-decouvrir-article>a{
    position: relative;
    top: 15px;
    left: 39px;
}

footer{
    width: 377px;
    height: 230px;
    padding-top: 15px;
    border-radius: 375px 0 0 / 50px;
    background-color: #D7C3AE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00315F;
}
footer>h3{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
}
footer>.contact{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact>p{
    margin-right: 12px;
    font-weight: 400;
}
.cta-contact{
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border-radius: 26px;
    background: #CB311C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.60) ;
}
.cta-contact>a{
    position: relative;
    top: 10px;
    left: 28px;
}
.social img{
    margin: 20px 20px 10px 20px;
}
footer>p{
    font-size: 14px;
    text-align: center;
    width: 312px;
    margin-bottom: 13px;
}
footer>p>a{
    color: #CB311C;
    border-bottom: 1px solid #CB311C;
}