header, footer{
    position: relative;
    width: 375px;
    align-content: center;
}
header>a>img{
    position: relative;
    left: 26px;
    top: 0;
}
header>h1{
    position: relative;
    left: 130px;
    top: 280px;
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 655px;
}
.arrow{
    position: relative;
    animation: mymove 2s infinite ease-in-out;
}
@keyframes mymove {
    from {top: -20px;
        opacity: 0;}
    to {top: 0px;
        opacity: 1;}

}
.slogan h2{
    display: block;
    align-content: end;
    margin-top: 139px;
    margin-left: 38px;
    width: 80%;
    color: #00315F;
}
main{
    padding-left: 26px;
    width: 325px;
    align-content: center;
    padding-right: 26px;
    background-color: #00315F;
}
.tweet{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article1{
    transition: all 0.5s ease-in-out;
}
.tweet .titre{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tweet h3{
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
}
.tweet img{
    align-items: end;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.26) ;
}
.tweet p{
    margin-top: 15px;
}
.cta-decouvrir-article{
    margin-top: 20px;
    margin-bottom: 100px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    width: 235px;
    height: 50px;
    border-radius: 26px;
    background: linear-gradient(0.25turn, #CB311C, #7F3135);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.26) ;
}
.cta-decouvrir-article>a{
    position: relative;
    top: 15px;
    left: 39px;
}
.cta-decouvrir-article:active{
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,1);
}

footer{
    width: 377px;
    height: 230px;
    padding-top: 15px;
    border-radius: 375px 0 0 / 55px;
    background-color: #D7C3AE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00315F;
}
footer>h3{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
}
footer>.contact{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact>p{
    margin-right: 12px;
    font-weight: 400;
}
.cta-contact{
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border-radius: 26px;
    background: #CB311C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6) ;
}
.cta-contact>a{
    position: relative;
    top: 10px;
    left: 28px;
}
.cta-contact:active{
     box-shadow: inset -1px -1px 3px rgba(255,255,255,0.01),
                 inset 2px 2px 6px rgba(0,0,0,0.6);
}
.contact>a{
    background-color: orange;
}
.social img{
    margin: 20px 20px 10px 20px;
}
footer>p{
    font-size: 14px;
    text-align: center;
    width: 312px;
    margin-bottom: 13px;
}
footer>p>a{
    color: #CB311C;
    border-bottom: 1px solid #CB311C;
}
