header, footer{
    position: relative;
    width: 375px;
    align-content: center;
}
header{
    height: 329px;
}
.nav-bar{
    z-index: 100;
    position: fixed;
    padding: 0 26px;
    width: 323px;
    height: 64px;
    background: radial-gradient(#1A4475 10%, #00315F 100%);
    box-shadow: 0 3px 99px rgba(0,0,0,0.35);
}
.nav-bar>a>img{
    position: relative;
    top: 14px;
}
.nav-bar>h1{
    position: relative;
    left: 104px;
    top: -27px;
    color: #FEFEFE;
}
.img{
    top: 64px;
    width: 375px;
    height: 265px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../img/article1/article1title.jpg");
}
.img>h2{
    position: relative;
    align-content: center;
    padding-top: 5px;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    background-color: #00315F;
    width: 252px;
    height: 36px;
    top: 80px;
}
.intro, .success-story, .resultats-humain, .conclusion, .autres-films{
    padding: 0 26px;
}
h3{
    text-align: left;
    font-family: "Space Mono";
    font-weight: 300;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
main p{
    margin: 15px 0 60px 0;
}
.intro>p{
    padding-top: 10px;
}
.trailer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
video{
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    display: block;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #000;
}
.success-story{
     padding: 25px 26px 1px 26px;
     background-color: #00315F;
     border-top-right-radius:  375px 55px;
     border-bottom-right-radius:  375px 55px;
}
.success-story img{
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.4);
}
.success-story .legende>p{
    width: 186px;
    margin-left: auto;
}
.legende{
    margin-left: auto;
    font-size: 14px;
    text-align: right;
    width: auto;
    line-height: 20px;
    height: 40px;
    margin-bottom: 40px;
}
.legende>p{
    padding-left: 10px;
    border-left: 2px solid #CB311C;
    margin: 15px 0 0 0;
}
.resultats-humain{
    margin-top: 40px;
}
.conclusion{
     padding-bottom: 50px;
     padding-top: 50px;
     background-color: #00315F;
     border-top-left-radius:  375px 55px;
     border-bottom-left-radius: 375px 55px;
}
.cta-navigation{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.cta-navigation p{
    font-weight: 300;
    height: 40px;
    margin: 0;
    border-radius: 26px;
    padding: 0;
}
.article-suivant{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border-radius: 26px;
    background: #CB311C;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5) ;
}
.article-suivant a{
    padding-top: 9px;
    height: 31px;
    width: 160px;
    border-radius: 26px;
    display:block;
    text-align:center;
    position: relative;
}
.cta-navigation>p{
    padding-top: 25px;
    height: 31px;
    width: 85px;
    border-radius: 26px;
    display:block;
    text-align:center;
    position: relative;
}
.article-suivant:active{
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,0.6);
}
.autres-films{
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.autres-films>h3{
    text-align: center;
    width: 230px;
    margin: auto;
    margin-bottom: 20px;
}
.steve-jobs, .imitation-game, .snowden, .jobs{
    width: 260px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.autres-films img{
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.8);
}
.autres-films img:active{
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.01),
    inset 2px 2px 6px rgba(0,0,0,0.6);
}
.info-films>p{
    margin: 0;
    padding: 0;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.info-films p:first-of-type{
    font-size: 20px;
    font-weight: 400;
}
footer{
    width: 377px;
    height: 230px;
    padding-top: 15px;
    border-radius: 375px 0 0 / 55px;
    background-color: #D7C3AE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00315F;
}
footer>h3{
    font-family: "Josefin Sans";
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
}
footer>.contact{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact>p{
    margin-right: 12px;
    font-weight: 400;
}
.cta-contact{
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border-radius: 26px;
    background: #CB311C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}
.cta-contact a{
    padding-top: 10px;
    height: 30px;
    border-radius: 26px;
    display:block;
    text-align:center;
    position: relative;
}
.cta-contact:active{
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,0.6);
}
.contact>a{
    background-color: orange;
}
.social img{
    padding: 20px 20px 10px 20px;
}
footer>p{
    font-size: 14px;
    text-align: center;
    width: 312px;
    margin-bottom: 13px;
}
footer>p>a{
    color: #CB311C;
    border-bottom: 1px solid #CB311C;
}
